extends ../layout/index

block content
  h1= title
  p Welcome to #{title}
  p
    a(href='/') top
  p
    a(href='/test') test
  p
    a(href='/test/add') test add
  p
    a(href='/test/update') test update
  p
    a(href='/test/frame') frame
